@model Customer
@{
    ViewData["Title"] = "Customer";
}
<h2>Customer</h2>
<b>Id</b>
<p>@Model.Id</p>
<b>Fistname</b>
<p>@Model.FirstName</p>
<b>Last name</b>
<p>@Model.LastName</p>
<b>Gender</b>
<p>@Model.Gender</p>
<b>Age</b>
<p>@Model.Age</p>